

@media (min-width: 600px) {
  h3 {
    font-size: 36px;
  }
  .h3 {
    font-size: 36px;
  }
}
@media (min-width: 980px) {
  .section-margin {
    margin: 70px 0;
  }
}
@media (min-width: 1100px) {
  .section-margin {
    margin: 120px 0;
  }
  .section-margin.calc-60px {
    margin: 120px 0 70px 0;
  }
  .blog_categorie_area {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1000px) {
  .section-margin--small {
    margin: 98px 0;
  }
  .section-padding {
    padding: 130px 0;
  }
  .hero-banner__content {
    max-width: 495px;
  }
  .offer__content {
    padding: 122px 0 135px 0;
  }
  .subscribe {
    padding: 85px 10px;
  }
  .subscribe__title {
    font-size: 36px;
  }
  .subscribe-position {
    position: relative;
    top: 100px;
    margin-bottom: 0;
  }
  .blog-banner-area {
    height: 410px;
  }
  .single-search-product {
    padding: 20px 0;
  }
  /**/
  .login_box_area .login_box_img {
    height: 610px;
  }
  .login_form_inner {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .cart_inner .table tbody tr.bottom_button .button {
    padding: 7px 45px;
  }
  .product_image_area {
    padding-top: 100px;
  }
  .footer-area {
    padding: 195px 0px 120px;
  }
  .footer-only {
    padding-top: 115px !important;
    padding-bottom: 115px !important;
  }
}
@media (min-width: 991px) {
  .header_area .navbar .nav .nav-item .nav-link {
    padding: 32px 0px;
  }
  .hero-banner {
    z-index: 111;
  }
  .hero-banner::before {
    width: 35%;
  }
  .hero-banner__content h1 {
    font-size: 50px;
  }
  .contact-banner-area {
    height: 450px;
  }

  .cart_inner .table tbody tr.bottom_button td .cupon_text {
    margin-left: -465px;
  }
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  .blog-banner h1 {
    font-size: 36px;
  }
  .contact-banner h1 {
    font-size: 48px;
  }
/*thêm cái này vào, bên single product */
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.offset-lg-1 {
  margin-left: 8.333333%;
}
/**/
}
@media (max-width: 991px) {
  .header-top {
    display: none;
  }
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #384aeb;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .header_area .navbar {
    background: #ffffff;
  }
  .header_area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header_area .navbar .nav .nav-item .nav-link {
    line-height: 30px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px;
  }
  .header_area .navbar .nav-shop {
    padding-bottom: 40px;
  }
  .header_area .navbar .search {
    margin-left: 0px;
  }
  .header_area .navbar .tickets_btn {
    margin-left: 0px;
  }
  .header_area .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    padding: 0px 0px;
  }
  .header_area + section {
    margin-top: 117px;
    margin-top: 0px;
    padding-top: 71px;
  }
  .header_area + row {
    margin-top: 117px;
    margin-top: 0px;
    padding-top: 71px;
  }
  .header_area + div {
    margin-top: 117px;
    margin-top: 0px;
    padding-top: 71px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .categories_post {
    max-width: 360px;
    margin: 0 auto;
  }
  .categories_post img {
    width: 100%;
  }
  .blog_categorie_area .col-lg-4 {
    margin-top: 30px;
  }
  .blog_area {
    padding-bottom: 80px;
  }
  .single-post-area .blog_right_sidebar {
    margin-top: 30px;
  }
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px;
  }
  .contact_info {
    margin-bottom: 50px;
  }
  .home_banner_area {
    min-height: 700px;
  }
  .home_banner_area .donation_inner {
    margin-bottom: -30px;
  }
  .home_banner_area .dontation_item {
    max-width: 350px;
    margin: auto;
  }
  .footer-area .col-sm-6 {
    margin-bottom: 30px;
  }
  .comment-form .email {
    padding-left: 0px;
  }
  .instagram_image {
    margin-bottom: 120px !important;
  }
  .footer_title {
    margin-bottom: 10px;
  }
  
}
@media (max-width: 767px) {
  .header-top .header-top-left .text {
    display: none;
  }
  .home_banner_area {
    min-height: 500px;
  }
  .home_banner_area .banner_inner {
    min-height: 500px;
  }
  .home_banner_area .banner_inner .banner_content {
    margin-top: 0px;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 30px;
  }
  .home_banner_area .banner_inner .banner_content h3 span {
    line-height: 45px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .home_banner_area .banner_inner .banner_content p br {
    display: none;
  }
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .blog_info.text-right {
    text-align: left !important;
    margin-bottom: 10px;
  }
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .footer-social {
    text-align: center;
    margin-top: 15px;
  }
  .button {
    padding: 8px 25px !important;
  }
  .single-post-area .navigation-area .nav-left {
    margin-bottom: 30px;
  }
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
  .instagram_image a {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media (max-width: 1619px) {
  .header_area .navbar .search {
    margin-left: 40px;
  }
}
@media (max-width: 1199px) {
  .header_area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  .header_area .navbar .tickets_btn {
    margin-left: 40px;
  }
  .home_banner_area .banner_inner {
    padding: 100px 0px;
  }
  .footer_title.large_title {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .top_menu {
    display: none;
  }
  .header_area + section {
    margin-top: 0px;
    padding-top: 71px;
  }
  .header_area + row {
    margin-top: 0px;
    padding-top: 71px;
  }
  .header_area + div {
    margin-top: 0px;
    padding-top: 71px;
  }
  .home_banner_area {
    min-height: 500px;
  }
  .home_banner_area .banner_inner {
    min-height: 500px;
  }
  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .home_banner_area .banner_inner .banner_content img {
    display: none;
  }
  .home_banner_area .banner_inner .banner_content h5 {
    margin-top: 0px;
  }
  .blog_banner .banner_inner .blog_b_text {
    margin-top: 0px;
  }
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .sample-text-area {
    padding: 70px 0 70px 0;
  }
  .generic-blockquote {
    padding: 30px 15px 30px 30px;
  }
  .blog_details h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .footer-area {
    padding: 70px 0px;
  }
  .single-footer-widget .sub-btn {
    right: 0px;
  }
  .hero-banner__content {
    padding-bottom: 50px;
  }
  .instagram_image {
    margin-bottom: 70px !important;
  }
  .instagram_image a {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .s_product_text {
    margin-left: 0px;
  }
}
@media (max-width: 480px) {
  .header_area .navbar-collapse {
    max-height: 250px;
  }
  .home_banner_area .banner_inner .banner_content {
    margin-top: 0px;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px;
  }
  .banner_area .banner_inner .banner_content h2 {
    font-size: 32px;
  }
  .comments-area .thumb {
    margin-right: 10px;
  }
}
@media (min-width: 575px) {
  .hero-banner::before {
    width: 20%;
  }
}
@media (min-width: 767px) {
  .hero-banner__content h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .hero-banner__content p {
    margin-bottom: 40px;
  }
  .order_details_table {
    margin-top: 45px;
    margin-top: 45px;
  }
  .order_d_inner .details_item .list {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .offer {
    background-size: 100% 100%;
  }
}
@media (min-width: 650px) {
  .offer__content h3 {
    font-size: 50px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1340px) {
  #bestSellerCarousel .owl-prev {
    left: -105px;
  }
  #bestSellerCarousel .owl-next {
    right: -105px;
  }
}
@media (min-width: 800px) {
  .subscribe-form .form-control {
    min-width: 380px;
  }
  .button-subscribe {
    padding: 12px 35px;
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  .blog_categorie_area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 414px) {
  .comments-area {
    padding: 50px 8px;
  }
}
@media (max-width: 413px) {
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}
@media (max-width: 1000px) {
  .order_details_table .table tbody tr:last-child {
    height: 50px;
  }
}
@media (max-width: 600px) {
  .cart_inner .table tbody tr td .media .d-flex img {
    max-width: 100px;
    height: 80px;
  }
  .cart_inner .table tbody tr.bottom_button td .cupon_text {
    margin-left: -380px;
  }
  .cart_inner .table tbody tr.bottom_button td .cupon_text input {
    width: 120px;
  }
}
@media (max-width: 441px) {
  .product_description_area .nav.nav-tabs li:last-child {
    margin-top: 15px;
  }
}
@media (max-width: 570px) {
  .product_description_area .nav.nav-tabs li a {
    padding: 0 15px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .single-footer-widget .instafeed li:nth-child(4) {
    display: none;
  }
  .single-footer-widget .instafeed li:nth-child(5) {
    display: none;
  }
  .single-footer-widget .instafeed li:nth-child(6) {
    display: none;
  }
}
